body {
    place-items: center;
}

h3,
h4 {
    margin: 0;
    padding: 0;
}

.card {
    position: relative;
    display: none;
    padding: 1rem;
    border-radius: 0.5rem;
    margin: 4rem;
    list-style: none;
    float: left;
    width: 25rem;
    height: 15rem;
    z-index: 1;
    cursor: pointer;
    left: 0;
}

.card-subtitle-word {
    display: inline-block;
    margin: 0vmin 0.3vmin;
    opacity: 0;
    position: relative;
    transform: translateY(60%);
    transition: none;
    color: var(--first-color);
}

.card:hover>.card-content>.card-subtitle>.card-subtitle-word {
    opacity: 1;
    transform: translateY(0%);
    transition: opacity 0ms, transform 200ms cubic-bezier(.90, .06, .15, .90);
}

.card-title {
    font-size: 2rem;
    margin-bottom: 0.5rem;
    text-align: center;
}

.card-subtitle {
    font-size: 1.5rem;
    margin: 1rem;
}

.carousel-container {
    width: 35rem;
    height: 25rem;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    border-radius: 2rem;
    display: flex;
    justify-items: center;
    align-items: center;
}

.carousel {
    position: relative;
    width: 35rem;
    height: 25rem;
    padding: 0;
    margin: 0;
}