@import url('https://fonts.googleapis.com/css2?family=Knewave&family=Rubik:wght@400;700;900&display=swap');

:root {
    --background-color: rgb(20, 20, 20);
    --first-color: rgba(27, 255, 23, 0.75);
    --second-color: rgba(41, 174, 29, 0.75);
    --normal-box-shadow: 0px 0px 10px var(--first-color);
    --large-box-shadow: 0px 0px 25px var(--first-color);
}

body {
    font-family: 'Rubik';
    background-color: var(--background-color);
    color: white;
}

p {
    margin: 2.5rem;
    padding: 0.75rem;
    box-shadow: 0 4px 25px var(--first-color);
    border-radius: 0.5rem;
}

nav {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 700;
    padding: 1rem;
    margin: 0;
    border-radius: 1rem;
    box-shadow: var(--normal-box-shadow);
}

.nav-item {
    margin-left: 2rem;
    margin-right: 2rem;
    list-style: none;
}

.nav-link {
    position: relative;
    font-size: 1.5rem;
    text-decoration: none;
    color: var(--first-color);
}

.nav-item:hover {
    opacity: 0.8;
    transform: translateY(-1.25px);
}

.nav-link::before,
.nav-link::after {
    content: "";
    position: absolute;
    width: 0%;
    height: 0.2rem;
    top: 2rem;
    background: var(--first-color);
}

.nav-link::before {
    left: -2.5px;
    padding-left: 1wh;
}

.nav-link::after {
    right: 2.5px;
    background: transparent;
    transition: width 0.3s cubic-bezier(0.22, 0.61, 0.36, 1);
    left: 50%;
    transform: translate(-50%, 0);
}

.nav-link.active::before,
.nav-link:hover::before {
    background-color: var(--first-color);;
    width: 90%;
    transition: width 0.3s cubic-bezier(0.22, 0.61, 0.36, 1);
    left: 50%;
    transform: translate(-50%, 0);
}

.nav-link.active::after,
.nav-link:hover::after {
    background: transparent;
    width: 90%;
    transition: 0s;
}

.no-select {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.center {
    text-align: center;
}